<script src="https://lint.page/kit/4d0fe3.js" crossorigin="anonymous"></script>
<footer>
    <p>
            <a href="https://webpages.charlotte.edu/talexa38/">UNCC Webpage</a> |
            <a href="https://github.com/talex38">GitHub</a> |
            <a href="https://talex38.github.io">GitHub.io</a> |
            <a href="https://talex38.github.io/itis3135">ITIS3135.io</a> |
            <a href="https://www.freecodecamp.org/talexa38">FreeCodeCamp</a> |
            <a href="https://www.codecademy.com/profiles/talexa38">Codecademy</a> |
            <a href="https://www.linkedin.com/in/travismalexander/">LinkedIn</a>
    </p>
    <p>Designed by <a href="../talexdesigns.org/">Talex Designs</a> &copy; 2026</p>
    <p>Certified in <a href="https://www.freecodecamp.org/certification/talexa38/responsive-web-design-v9">Responsive Web Design</a></p>
    
    <a href="https://validator.w3.org/check?uri=referer" id="validation-link-html">
        <img class="validation-badge" src="https://mytienhoang.github.io/itis3135/z_archives/html_validation.png" alt="Valid HTML!">
    </a>
    <a href="https://jigsaw.w3.org/css-validator/check/referer" id="validation-link-css">
        <img class="validation-badge" src="https://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!">
    </a>

    <script>
        document.getElementById("validation-link-html").setAttribute("href", "https://validator.w3.org/check?uri=" + location.href);
        document.getElementById("validation-link-css").setAttribute("href", "https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
    </script>
</footer>