<footer>
    <p>
        <a href="https://webpages.charlotte.edu/talexa38/">Charlotte Web</a> |
        <a href="https://github.com/talex38">GitHub</a> |
        <a href="https://talex38.github.io">GitHub.io</a> |
        <a href="https://talex38.github.io/itis3135">ITIS3135.io</a> |
        <a href="https://www.freecodecamp.org/talexa38">freeCodeCamp</a> |
        <a href="https://www.codecademy.com/profiles/talexa38">Codecademy</a> |
        <a href="https://www.linkedin.com/in/travismalexander/">LinkedIn</a>
    </p>
    <p>Designed by <a href="../talexdesigns.org/">Talex Designs</a> &copy; 2026 | Certified in <a href="https://www.freecodecamp.org/certification/talexa38/responsive-web-design-v9">Responsive Web Design</a></p>
</footer>