<header>
    <h1>
        Travis Alexander's Tenacious Ant | ITIS3135
    </h1>
    <nav>
        <a href="../itis3135">Home</a> |
        <a href="introduction.html">Introduction</a> |
        <a href="introduction_form.html">Introduction Form</a> |
        <a href="contract.html">Contract</a> |
        <a href="about.html">About</a> |
        <a href="survey.html">Survey</a> |
        <a href="cards.html">Playing Cards</a> |
        <a href="inventory.html">Inventory</a> |
        <a href="documentation.html">Documentation</a> |
        <a href="product.html">Product</a> |
        <a href="website_evaluation.html">Site Evaluation</a> |
        <a href="pictures.html">Pictures</a>
    </nav>
    <nav class="secondary-nav">
        <a href="stuff/CR!@Ppy.htm">CRAPy Page</a> |
        <a href="hobby/index.html">Hobby</a> |
        <a href="https://itis3135-react-dzpa8cbcr-talexa38.vercel.app/">React3</a>
    </nav>
</header>