<!DOCTYPE html>

<script src="https://lint.page/kit/4d0fe3.js" crossorigin="anonymous"></script>
<header>
        <h1>Travis Alexander - ITIS 3135</h1>
        <nav>
            <a href="../itis3135">Home</a> ||
            <a href="introduction.html">Introduction</a> ||
            <a href="contract.html">Contract</a> ||
            <a href="about.html">About</a> ||

            <a href="survey.html">Survey</a> ||
            <a href="gallery.html">Gallery</a> ||
            <a href="inventory.html">Inventory</a> ||
            <a href="instructions.html">Instructions</a> ||
            <a href="highlight.html">Highlight</a>
        </nav>
        <br>
        <nav class="secondary-nav">
            <a href="stuff/CR!@Ppy.htm">CR!@Ppy</a> ||
            <a href="../talexdesigns.org/">Talex Designs</a> ||
        </nav>
    </header>